body {
  /* text-align: center; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 360px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.completed {
  color: gray;
  text-decoration: line-through;
}
